@use "../abstracts/" as *;

body {
  margin: 0px auto;
  padding: 0;
  min-width: 370px;
  max-width: 1980px;

  font-family: $ff-intel;
  background-color: $background-color;
  color: $colors-black;
}
