$colors-black: #000;
$colors-white: #fff;

$colors: (
  slate: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  gray: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  zinc: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  neutral: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  stone: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  red: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  orange: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  yellow: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  green: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  teal: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  blue: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  indigo: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  purple: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
  pink: (
    100: rgb(248 250 252),
    200: rgb(236 244 249),
    300: rgb(219 233 244),
    400: rgb(191 217 234),
    500: rgb(153 194 219),
    600: rgb(102 163 191),
    700: rgb(51 132 163),
    800: rgb(0 101 135),
    900: rgb(0 77 102),
  ),
);
