@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

$ff-sans: "Open Sans", sans-serif;
$ff-intel: "Inter", sans-serif;

$font-sizes: (
  400: 1.125rem,
  500: 1.3125rem,
  600: 1.5rem,
  800: 3rem,
  900: 3.75rem,
);
