@import "./components/header.css";
@import "./components/footer.css";
@import "./components/news.css";
@import "./components/recommend.css";
@import "./components/filter.css";
@import "./components/leftpanel.css";
@import "./components/listing.css";
@import "./components/checkoutstep.css";
@import "./pages/landing.css";
@import "./pages/allitems.css";
@import "./pages/productpage.css";
@import "./pages/cartpage.css";
@import "./pages/loginpage.css";
@import "./pages/signupPage.css";
@import "./pages/profilepage.css";
@import "./pages/shippingpage.css";
@import "./pages/paymentpage.css";
@import "./pages/placeorderpage.css";
@import "./pages/orderpage.css";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* 700px width Mobile View */

.App{
  width: 100%;
  min-height: 100vh;
}
