@use "../abstracts/" as *;

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  border-top: 1px solid color("gray", 300);
  list-style: none;

  li {
    margin-right: spacing(36);
    font-size: fs(500);
    cursor: pointer;
    &:hover {
      text-underline-offset: 2px;
      text-decoration: underline;
    }
  }
}
