@use "../base/fonts";
@use "../abstracts/breakpoints";
@use "../abstracts/extendable";

.footer {
  width: 100%;
  @extend %flex-align-center;
  flex-direction: column;
  border-top: 1px solid black;
}

.footer__buyingInfo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__description {
      width: 80%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    @include breakpoints.breakpoint(tablet) {
      font-size: 0.8rem;
    }
  }

  @include breakpoints.breakpoint(mobile) {
    grid-template-columns: 1fr;
    width: 80%;
    &__items {
      padding-top: 20px;
      padding-bottom: 20px;
      border: 1px solid;
      border-radius: 10px;
    }
  }
}

.footer__companyInfo {
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;
  background-color: #1c1b1b;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 20px;
  font-size: 1rem;

  &__items {
    padding-left: 20px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__description {
    cursor: pointer;
    margin-bottom: 20px;

    a {
      color: white;
    }

    input {
      font-family: fonts.$font-stack;
      width: 90%;
      max-width: 400px;
      height: 50px;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
    }

    button {
      border: none;
      background-color: white;
      border-radius: 5px;
      height: 30px;
      width: 100px;
      font-weight: 600;
      font-family: fonts.$font-stack;
      cursor: pointer;
    }
  }

  @include breakpoints.breakpoint(mobile) {
    grid-template-columns: 1fr;
    width: 100%;
    &__items {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
