.home {
  &__landing {
    height: 910px;
    display: flex;

    &__content {
      width: 50%;
      padding: 300px 200px;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__image {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__about {
    height: 970px;
    padding: 100px;
    position: relative;

    p {
      padding: 100px;
      max-width: 80%;
      font-size: 2.8rem;
    }

    &__bottomImg {
      width: 600px;
      height: 250px;
      position: absolute;
      bottom: 100px;
      left: 200px;
      z-index: -1;
      object-fit: cover;
    }

    &__rightImg {
      width: 400px;
      height: 600px;
      z-index: -1;
      position: absolute;
      right: 100px;
      top: 200px;
      object-fit: cover;
    }
  }

  &__materials {
    display: flex;
    align-items: center;
    height: 970px;
    padding: 100px;
    position: relative;
    font-size: 4rem;
    text-align: end;
  }

  &__featured {
    padding: 100px;
  }

  &__featured__container {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
