@forward "header";
@forward "footer";
@forward "home";
@forward "newarrivals";
@forward "allproducts";
@forward "successpayment";
@forward "productdetail";
@forward "shoppingcart";
@forward "auth";
@forward "signup";
@forward "userdetailprofile";
@forward "userorderpage";
@forward "userorderdetail";
@forward "adminlist";
@forward "adminproductlist";
@forward "admincreateproduct";
@forward "admineditorder";
@forward "adminedituser";
@forward "paginate";
@forward "notfound";
@forward "legal";
