@use "../abstracts/breakpoints";

.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  // background-color: white;
}

.login_message {
  position: absolute;
  top: 15%;
}
.login_message.error {
  color: red;
}

.login_input_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;

  &__title {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}

.login_input_container button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
}
.login_input_container input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
  font-weight: 600;
}

.no_account_divider {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.no_account_divider div {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#create_account_button {
  background-color: white;
  color: black;
  border: 1px solid;
}

@media only screen and (max-width: 450px) {
  .login_input_container {
    width: 90vw;
    min-width: 370px;
  }
  .no_account_divider div {
    font-size: 13px;
  }
}
