@use "../abstracts/" as *;

.shoppingCart {
  width: 100%;
  padding: 0px 50px;
  min-height: 80vh;

  &__title {
    font-size: 3rem;
    font-weight: 700;
  }

  &__container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

.cart_listing {
  margin-top: 20px;
  // padding: 100px;
  // width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 4.5fr 1fr 0.5fr 0.5fr;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  position: relative;
}

.cart_listing > * {
  display: flex;
  align-items: center;
}

.cart_listing__image {
  width: 100px;
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
  cursor: pointer;
}

.cart_listing__text {
  font-size: 1rem;
  font-weight: 500;
}

.cart_listing__remove {
  color: red;
  cursor: pointer;
}

.cart_checkout {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  &__subtotal {
    font-size: 1.5rem;
  }

  &__itemsCount {
    font-size: 1.5rem;
  }
}
