@use "../abstracts/" as *;

.successPayment {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successPayment_container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successPayment_container img {
  width: 80px;
  height: 80px;
}

.successPayment_title {
  margin-top: 15px;
  font-size: 35px;
  font-weight: 600;
  color: color("teal", 600);
}

.successPayment_continue_shopping {
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}
