@use "../abstracts/breakpoints";

.orders_body {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders_container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.orders_title {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
}

.orders_listing {
  width: 100%;
  margin-top: 40px;
  box-shadow: 7px 7px 7px gainsboro;
}

.orders_listing div {
  display: flex;
  align-items: center;
}

.orders_listing_header {
  height: 70px;
  width: 100%;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid gainsboro;
  background-color: rgb(238, 238, 238);
}

.orders_listing_id {
  height: 100%;
  width: 40%;
  margin-left: 20px;
}

.orders_listing_header_rest {
  height: 100%;
  width: 25%;
}

.orders_listing_header_totalPrice {
  width: 15%;
  height: 100%;
  display: flex;
}

.orders_listing_header_order_detail {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  color: blue;
}

.orders_listing_header_order_detail div {
  cursor: pointer;
}

.orders_listing_body {
  height: 150px;
  width: 100%;
  border: 1px solid gainsboro;
}

.orders_listing_body img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 5px;
}

.order_listing_body_description {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.order_listing_body_description div {
  width: 100%;
  margin-top: 5px;
  margin-left: 40px;
}

.order_listing_body_shipping_description {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.order_listing_body_shipping_description div {
  width: 100%;
  margin-left: 40px;
  display: flex;
}

.order_listing_body_delivery {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.order_listing_body_delivery div {
  width: 100%;
  margin-top: 5px;
  margin-left: 40px;
  display: flex;
}

@include breakpoints.breakpoint(tablet) {
  .orders_body {
    margin-bottom: 20px;
  }

  .orders_listing_body {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: flex-start !important;
    height: unset;
    font-size: 0.8rem;
  }
  .orders_listing_body img {
    width: 85%;
  }
  .order_listing_body_description {
    margin-top: 10px;
    width: 100%;
  }
  .order_listing_body_shipping_description {
    margin-top: 10px;
    width: 100%;
  }
  .order_listing_body_delivery {
    margin-top: 10px;
  }
  .orders_listing_header {
    font-size: 0.8rem;
  }
}

@include breakpoints.breakpoint(mobile) {
  .orders_listing_header {
    font-size: 0.5rem;
  }
  .orders_listing_body {
    font-size: 0.5rem;
  }
}
