.allItems{
  width: 100%;
}

.allItems_img{
  width: 100%;
  height: 50vh;
  position: relative;
}

.allItems_img div{
  position: absolute; 
  left: 25%;
  top: 40%;
  font-size: max(7vw, 40px);
  font-weight:700;
  color: white;
}

.allItems_img p{
  width: 100%;
  height: 300px;
}


.allItems_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.all_items_listing_sections{
  width: 100%;
  min-height: 100vh;
}

.all_items_container{
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
}

