.cartPage{
  margin-top: 20px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_title{
  width: 80%;
  font-size: 30px;
  font-weight: 700;
}

.carts{
  width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin-top: 30px;
}

.product_listing{
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.product_listing img{
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.product_listing_name{
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_listing_quantity{
  width: 130px;
  height: 50%;
  border: 1px solid;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 30px;
}
.product_listing_quantity img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.product_listing_subtotal{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 600;
}


.cart_checkout{
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 600;
  align-items: flex-end;
}

.cart_checkout div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart_items{
  font-size: 20px;
  font-weight: 500;
}

#cart_checkout_button{
  margin-top: 60px;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
