.shipping_payment_method_title{
  font-size: 25px;
  font-weight: 300;
}

#shipping_payment_methods{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
}


#shipping_payment_methods label{
  font-size: 20px;
  margin-left: 10px;
}

#credit{
  width: 20px;
  height: 20px;
  margin: 0;
}
