.place_order_page{
  width: 100%;
  min-height: 90vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.place_order_page_main_info {
  width: 75%;
  margin-left: 30px;
}

.order_page_main_info_section{
  margin-bottom: 50px;
}

.order_page_main_info_title{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 5px;
}


.place_order_page_order_summary {
  width: 25%;
  margin-left: 15px;
}

.order_summary_title{
  font-size: 35px;
  font-weight: 600;
}

.place_order_page_subtotal{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.place_order_page_subtotal.total{
  font-size: 25px;
  font-weight: 700;
}

.reivew_carts{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reivew_carts div{
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  width: 30%;
}

.review_img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.placeOrderButton {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}